.container{
    background-color: black;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container img{
    width: 150px;
    height: auto;
}

.container ul{
    display: flex;
    color: lightgreen;
    gap: 1rem;
}
